

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], acronym[title], dfn[title] { border-bottom-width: 0; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


::-moz-selection{ background: #fbfb94; color:#333; text-shadow: none; }
::selection { background:#fbfb94; color:#333; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea { color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }


/**
 * Primary styles
 *
 * Author: 
 */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

em { font-style:italic; }

/* Color buttons */
.btn { display: inline-block;padding: 0.563em 0;font-weight: bold;cursor: pointer;text-decoration: none;text-decoration: none;text-transform:uppercase;color: #fff;-webkit-transition: background .1s ease-in-out;-moz-transition: background .1s ease-in-out;transition: background .1s ease-in-out;-webkit-border-radius: .5em;-moz-border-radius: .5em;border-radius: .5em;text-align:center; }
.btn:visited, .btn:hover, .btn:active { color: #fff; }
.btn.add { width:100%;font-size: 0.75em; }
.btn.prod, .btn.policy, .btn.biz { padding:0.563em 1em;font-size: 0.7em; }
.btn.add, .btn.prod { background-color: #518722; }
.btn.policy { background-color: #96a3af; }
.btn.biz { background-color: #3a94c5; }
.btn.add:hover, .btn.prod:hover { background-color: #7bba42; }
.btn.policy:hover { background-color: #a6b4c2; }
.btn.biz:hover { background-color: #42a7df; }
.btn.add:active, .btn.prod:active { background-color: #8ac553; }
.btn.policy:active { background-color: #b6c6d5; }
.btn.biz:active { background-color: #48b7f4; }
label { display:block;font-size:0.75em;font-weight:bold;margin:0 0 4px 4px; }
input[type="text"], input[type="email"], input[type="password"], textarea { width: 171px;padding: 3px 6px;color: #4d4d4d;font-size: 0.875em;border: 1px solid #cccccc;background: #fff;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.1);-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.1);box-shadow: inset 0 1px 1px rgba(0,0,0,.1);-webkit-border-radius: .5em;-moz-border-radius: .5em;border-radius: .5em; }
input[type="text"], input[type="email"], input[type="password"] { height: 1.5em; }
textarea { height: 6em; }
textarea:focus, input:focus { background-color: #fffce0;outline: none; }
select { font-size: 0.875em;padding: 0.25em;background-color: #fff;border: 1px solid #bababa;//margin-top: -12px;height: 1.875em; }
.gform_wrapper { padding:30px; }
#gform_wrapper_1 { margin: 0px;}
.gcontact #gforms_confirmation_message { margin-top: 0px !important; margin-bottom: 30px !important;}
.gcontact h2 { font-size:32px;padding:30px 0 10px 30px;font-family:arial,sans-serif; font-weight: bold !important; }
.gcontact h3 { font-size:14px;font-family:arial,sans-serif;color:#3B95C5;font-weight:bold !important;padding:0 0 30px 30px; }
p.copen { font-size:18px;padding:30px;border-right:1px dashed #bababa;width:380px; }
.card { float:right;font-family:arial,sans-serif;padding:18px 30px 0 0; }
.card h2 { font-size:14px;text-transform:uppercase;color:#3B95C5; }
.card p { font-size:14px; }
.partnerlogo { float:left;width:170px;text-align:center;padding-top:30px; }
.partnerdescription { margin-left:171px;padding:30px 30px 0 0; }
.partnerdescription h2 { font-size:18px;color:#3B95C5;font-family:arial,sans-serif; }
.partnerdescription p { font-size:16px; }

body { margin:0;padding:0 40px;background-color:#f1f1f1;background-image:url('images/burst.jpg');background-position:center top;background-repeat:no-repeat;font-size:16px; }
.pricing, .logos, .createform { background-image:url('images/burst-sm.jpg');background-position:center top;background-repeat:no-repeat; }
.createform { background-position:center -30px; }
.createform h3 { font-family:"Helvetica Neue",helvetica,arial,sans-serif;font-size:52px;text-align:center;padding:40px 0 15px 0; }
.logos { background-position:center 10px; }
hgroup { display:block; }
.clear { clear:both; }
#contain { margin:0 auto;width:920px;position:relative; }
.main { position:relative; }
.aside { position:absolute;top:0;right:0;width:218px;z-index:100; }
.section { position:relative;top:0;left:0;width:702px;z-index:1000; }

.homebloc { margin-bottom:60px; }
.homebloc h1 { font-family:"Helvetica Neue",helvetica,arial,sans-serif;font-size:48px; }
.homebloc h1 a { text-decoration:none;color:#50555A; }
.homebloc h2 { font-size:21px;color:#3B95C5;font-weight:normal;margin-bottom:20px; }
.homebloc ul { list-style-image:url("images/objects/bullet-check.png");margin-bottom:20px; }
.homebloc li { font-size:18px;font-family:Georgia,serif;line-height:2em; }
.homebloc p a { font-family:arial,sans-serif;text-decoration:none;padding:6px;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;border: 1px solid #bababa;font-weight:bold;background:#ededed; font-size:18px; color:#518722; }
.homebloc p a:hover { background: #eee; color:#5e8d34; }
.homebloc div.caption p { font-size:14px;color:#97A4B0;font-weight:bold;padding-top:10px; }
#seohome div.caption, #toolshome div.caption { float:left;text-align:center;margin-left:40px; }
#socialhome div.caption { float:right;text-align:center;margin-right:30px; }
#seohome div.copy, #toolshome div.copy { margin-left:460px; }
#socialhome div.copy { margin-left:40px; }

.aboutsub { height:350px; }
.aboutsub img { float:right; }
.aboutsub h1 { font-family:"Helvetica Neue",helvetica,arial,sans-serif;font-size:36px;margin-bottom:10px; }
.aboutsub h2 { font-size:18px; }
.aboutsub p.intro { font-size:16px;font-family:Georgia,serif;color:#50555A;line-height:1.5em;margin-bottom:20px; }
.aboutsub p.vcard { font-size:14px;color:#50555A; }

/* Header */
.header { position:relative; }
.headline { position:relative;z-index:10;font-family:Georgia,serif;font-size:24px;color:#3B95C5;text-align:center;margin:0 0 40px 0; }
.headhome { text-align:center;font-weight:bold;font-family:arial,sans-serif;font-size:20px;color:#50555A;padding:0;margin:20px 20px 20px 0;clear:both; }
.logohome { text-align:center;font-weight:bold;font-family:arial,sans-serif;font-size:32px;color:#50555A;padding:0;margin:0 0 20px 0;clear:both;font-family:"Helvetica Neue",helvetica,arial,sans-serif; }
.signinbox { font-family:arial,sans-serif;font-size:0.8em;color:#50555a;position:absolute;right:0;top:0;background:#fff;-webkit-border-bottom-right-radius: 8px;-webkit-border-bottom-left-radius: 8px;-moz-border-radius-bottomright: 8px;-moz-border-radius-bottomleft: 8px;border-bottom-right-radius: 8px;border-bottom-left-radius: 8px;padding:8px 20px;z-index:100; }
.signinbox span { position:relative;top:-5px; }
.signinbox a { color:#3B95C5;text-decoration:none; }
.signinbox a:hover { color:#317ba2; }
.mainnav { height:52px;padding:20px 0 0 0;position:relative;z-index:10; }
.mainnav ul { margin:0;padding:0;list-style:none;position:absolute;right:0;top:120px; }
.mainnav li { display:inline; }
.mainnav a { font-family:arial,sans-serif;font-weight:bold;display:block;float:left;margin-left:8px;color:#518722;text-decoration:none;border:1px solid transparent;padding: 0.25em 0.6em;-webkit-border-radius: 8px;-moz-border-radius: 8px;
border-radius: 8px; }
.mainnav a:hover { background:#f1f1f1;border:1px solid #bababa;padding: 0.25em 0.6em;-webkit-border-radius: 8px;-moz-border-radius: 8px;
border-radius: 8px; }
.mainnav .menu-item-12559 a { background:#518722;border:1px solid #518722;color:#fff;-webkit-transition: background .1s ease-in-out;-moz-transition: background .1s ease-in-out;transition: background .1s ease-in-out; }
.mainnav .menu-item-12559 a:hover { background:#7bba42;border:1px solid #7bba42; }
.mainnav img.freetrial { position:absolute;z-index:100;right:30px;bottom:0; }


.hero { text-align:center;clear:both;padding:40px 0; }
.subhero { margin-bottom:40px; }
.subhero img { float:right; }
.subhero.home { text-align:center; }
.subhero.home img { float:none; }
.subhero h1, .subhero h2, .subhero p { width:450px; }
.subhero h1 { color:#3B95C5;font-size:16px;text-transform:uppercase;border-bottom:1px dashed #bababa;margin-bottom:20px; }
.subhero h2 { color:#518722;font-size:36px;margin-bottom:15px; }
.subhero p { font-family:Georgia,serif;line-height:1.5em; }
.subhero a { color:#518722;text-decoration:none; }
.subhero a:hover { color:#5e8d34; }



/* Sidebar */
.aside h2, .search label { font-family:arial,sans-serif;font-size:12px;color:#50555A;text-transform:uppercase; }
.aside h2 { margin:0 0 0 20px;padding:20px 0 0 0; }
.search label { margin:0 0 0 20px;padding:10px 0 0 0; }
.menu-blog-categories-container ul, .menu-blog-resources-container ul { margin:10px 0 0 0;padding:0 0 20px 0;list-style:none; }
.menu-blog-categories-container li, .menu-blog-resources-container li { font-size:15px;border-top:1px dashed #bababa;padding:10px 0; }
.menu-blog-categories-container li#menu-item-12483 { border-bottom:1px dashed #bababa; }
.menu-blog-categories-container a, .menu-blog-resources-container a { color:#518722;padding:0 26px 0 20px;font-weight:bold;text-decoration:none; }
.menu-blog-categories-container a:hover, .menu-blog-resources-container a:hover { color:#5e8d34; }

.menu-webinars { margin:10px 0 0 0;padding:0 0 20px 0;list-style:none; }
.menu-webinars li { font-size:14px;border-top:1px dashed #bababa;padding:0; }
.menu-webinars a { color:#518722;padding:15px 20px;font-weight:bold;text-decoration:none; display: block;}
.menu-webinars a:hover { color:#5e8d34; }



.social { padding:20px; }
.social a { margin-right:20px; }

.search { border:1px solid #bababa;border-left:none;-webkit-border-top-right-radius: 8px;-webkit-border-bottom-right-radius: 8px;-moz-border-radius-topright: 8px;-moz-border-radius-bottomright: 8px;border-top-right-radius: 8px;border-bottom-right-radius: 8px;-webkit-box-shadow:inset 0 1px 0 #fff;-moz-box-shadow:inset 0 1px 0 #fff;box-shadow:inset 0 1px 0 #fff; }
.search input[type="text"] { margin:6px 0 10px 20px;width: 170px; }

.sidebar { width:183px;position:relative;z-index:1000;margin-left:35px; }
#signupWrapper { position:absolute;width: 183px; } /* required to avoid jumping */
#signup { position:absolute;top:0;width: 183px;color:#50555a;margin-top:10px; }
#signup.fixed { position: fixed;top: 0; }
#signup form p { margin:10px 0; }
#signup .checkbox { margin:20px 0; }
#signup span { margin-left:24px;display:block;font-size:0.7em; }
#signup .tos { text-align:center;font-size:0.7em;color:#999; }
#signup .tos a { color:#518722;text-decoration:none; }
#signup .checkbox input { float:left; }
#signup input.submit { display:none; }
.formtitle { font-family:Georgia,serif;font-size:1.5em;color:#71aa3f;margin-bottom:30px; }

/* Content */
.content { width:702px;position:relative;min-height:1100px; }
.content.nomin { min-height:500px; }
.boxtop { position:relative;padding:30px;background-color:#50555a;-webkit-border-top-left-radius: 8px;-webkit-border-top-right-radius: 8px;-moz-border-radius-topleft: 8px;-moz-border-radius-topright: 8px;border-top-left-radius: 8px;border-top-right-radius: 8px;background-image:url("images/boxhead-bg.png");background-position:bottom;background-repeat:repeat-x; }
.boxtop h1 { text-shadow: 0 1px 0 rgba(0,0,0,0.2);line-height:1.15em;font-family:"Helvetica Neue",helvetica,arial,sans-serif;color:#9dc9e1;font-size:2.25em; }
.boxtop h1.who { font-size:46px; }
.boxtop h1 a,.boxtop h1 span { color:#fff;text-decoration:none; }
.boxtop p { font-family:Georgia,serif;color:#F1F1F1; }
.boxtop p.full { line-height:1.5em;margin:30px 0 0 0; }
.boxtop p.bottomleft { width:350px;line-height:1.5em;margin:50px 0 0 0; }
.boxtop img.bottomright { position:absolute;bottom:0;right:0; }
.boxtop img.bigarrow { position:absolute;z-index:100;top:-26px; }
.boxtop img.bigarrow.agency { left:250px; }
.boxtop img.bigarrow.pro { left:550px; }
.box { font-family:Georgia,serif;color:#50555a;line-height:1.5em;background: #fff;background-image:url("images/boxcopy-bg.png");background-position:bottom;background-repeat:repeat-x;border: 1px solid #bababa;border-bottom:none;border-top:none;-webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.2);-moz-box-shadow: 0 5px 5px rgba(0,0,0,0.2);box-shadow: 0 5px 5px rgba(0,0,0,0.2); }


/* Blog */
#entry { background:#fff;border: 1px solid #bababa;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;-webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.2);-moz-box-shadow: 0 5px 5px rgba(0,0,0,0.2);box-shadow: 0 5px 5px rgba(0,0,0,0.2); }
.basic { padding:30px 0; }
.basic p { padding-bottom:15px }
#entry .heading { padding:20px 30px;background-image:none; }
#entry .heading a, #entry .copy a, #entry .related a, #signup .checkbox a, .box a { color:#518722;text-decoration:none; }
#entry .heading a:hover, #entry .copy a:hover, #entry .related a:hover, #signup .checkbox a:hover, .box a:hover { color:#5e8d34; }
#entry .heading h1 { margin-bottom:10px;text-shadow:none;line-height:1.15em;font-family:"Helvetica Neue",helvetica,arial,sans-serif;color:#518722;font-size:24px;font-weight:normal; }
#entry .heading h1.single { font-size:34px;font-weight:bold; }
#entry .copy h2, #entry .copy h3, #entry .copy h4, #entry .copy h5, #entry .copy h6, #entry .copy ul, #entry .copy ol, #entry .copy p, .basic h2, .basic h3, .basic h4, .basic h5, .basic h6, .basic ul, .basic ol, .basic p, #entry pre { padding:0 30px 20px 30px; }
#entry .copy h2, #entry .copy h3, #entry .copy h4, #entry .copy h5, #entry .copy h6, .basic h2, .basic h3, .basic h4, .basic h5, .basic h6 { font-family:Georgia,serif;color:#3B95C5;font-weight:normal; }
#entry .copy h2, .basic h2 { font-size:30px; }
#entry .copy h3, .basic h3 { font-size:26px; }
#entry .copy h4, .basic h4 { font-size:24px; }
#entry .copy h5, .basic h5 { font-size:22px; }
#entry .copy h6, .basic h6 { font-size:20px; }
#entry .heading p { font-family:arial,sans-serif;font-size:12px;color:#BABABA;font-weight:bold; }
#entry .heading p a, #entries a { color:#518722;text-decoration:none; }
#entry .copy p, #entry .copy li, .basic p, .basic li { font-size:15px;color:#50555A;font-family:Georgia,serif;line-height:1.5em; }
#entry .copy p a, #entry .copy li a, #entries a, .basic p a { color:#518722; }
#entry .copy p a:hover, #entry .copy li a:hover, #entries a:hover, .basic p a:hover { color:#5e8d34; }
#entry .copy p a.continue, a.continue, #entries a { font-family:arial,sans-serif;text-decoration:none;padding:6px;font-size:12px;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;border: 1px solid #bababa;font-weight:bold; }
#entry .copy p a.continue:hover, a.continue:hover, #entries a:hover { background:#eee; }
#entry .copy ul, div.page ul { list-style-image:url('img/objects/bullet.png'); }
div.page ul { padding:0 30px 15px 30px; }
#entry .copy li, div.page li { border-bottom:1px dashed #bababa;padding:10px 0; }
#entry .copy li.first, div.page li.first { border-top:1px dashed #bababa; }
#entry .copy { background-image:url("images/boxcopy-bg.png");background-position:bottom;background-repeat:repeat-x;border-bottom:1px solid #bababa; }
#entry .related { margin-bottom:8px; }
#entry .related p.tags { font-size:14px;padding:30px 30px 20px 30px; }
#entry .related h2 { font-size:18px;padding:0 0 6px 30px; }
#entry .related ul { list-style-type:none;font-family:Georgia,serif;margin-bottom:20px; }
#entry .related li { line-height:1.5em; }
#entry .related .sharing { border-top:1px dashed #bababa;padding:20px 30px 22px 30px;  }
#entries { padding:40px 0 0 0;text-align:center; }
#entries a { font-size:14px; }

/* Customer Care */
.carehead { font-family:"Helvetica Neue",helvetica,arial,sans-serif;font-size:34px; }
.carehead img { vertical-align:top;padding-top:16px; }
.eventdate { border-bottom:1px dashed #ccc;font-size:14px;font-weight:bold;text-transform:uppercase;padding-bottom:6px;font-family:arial !important; }
.eventlist { margin:-10px 30px 10px 30px;padding:0 !important; }
#carecont { text-align:right;margin:30px 0; }
#carecont a { font-size:18px !important; }

.carekb {  }

.carelist { float:left;width:190px;margin-left:30px;padding-bottom:20px; }
.carepost { margin:-10px 30px 20px 30px; }
.carelist h3, .carepost h3 { margin:10px 0 !important;padding:0 !important;line-height:20px !important; }
.carelist h3 a, .carepost h3 a { color:#3B95C5 !important;font-size:18px !important;font-family:arial;font-weight:bold; }
.carelist h3 a:hover, .carepost h3 a:hover { color:#317999 !important; }
.carelist p, .carepost p { margin:0 !important;padding:0 0 10px 0 !important;font-size:13px !important; }

img#carefeature { -webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;-webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.2);-moz-box-shadow: 0 5px 5px rgba(0,0,0,0.2);box-shadow: 0 5px 5px rgba(0,0,0,0.2); }






/* Images */
.wp-caption img, img.size-medium, img.size-large, img.size-small, img.size-full { padding:5px;background:#eee;border:1px solid #dcdde0;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px; }
.wp-caption { padding-left:30px; }
.wp-caption.aligncenter { padding-left:0; }
.wp-caption p { font-size:11px;text-align:center; }
.alignleft, img.alignleft { display: inline;float: left;margin-right: 24px;margin-top: 4px; }
.alignright, img.alignright { display: inline;float: right;margin-left: 24px;margin-top: 4px;margin-right:30px; }
.aligncenter, img.aligncenter { clear: both;display: block;margin-left: auto;margin-right: auto; }
img.alignleft, img.alignright, img.aligncenter { margin-bottom: 12px; }
.padtop { padding-top: 15px;}

/* Comments */
h2#commenthead { font-family:Georgia,serif;font-size:32px;color:#97A4B0;font-weight:normal;margin-top:30px; }
#fb-root { margin-top:10px; }

.firstbox { border-top:none }
.endhead { background-color:#50555a;height:11px;background-image:url("images/boxhead-arrow.png");background-position:780px 0px; }
.endentry { height:12px;background-image:url("images/boxblog-arrow.png");background-position:770px 0px;margin-bottom:20px; }
.endmidhead { background-color:#50555a;height:11px;background-image:url("images/boxhead-arrow.png");background-position:1081px 0px; }
.endbox { background-color:#fff;height:12px;background-image:url("images/boxcopy-arrow.png");background-position:780px 0px; }
.endline { background:#bababa;height:1px;  }
.lastbox { margin-bottom:40px;border-bottom: 1px solid #bababa;-webkit-border-bottom-right-radius: 8px;-webkit-border-bottom-left-radius: 8px;-moz-border-radius-bottomright: 8px;-moz-border-radius-bottomleft: 8px;border-bottom-right-radius: 8px;border-bottom-left-radius: 8px; }
hgroup.item1, hgroup.item2, hgroup.item3 { padding:30px 0 30px 86px;background-repeat:no-repeat;background-position:30px 30px; }
hgroup.item1 { background-image:url('images/item1.png'); }
hgroup.item2 { background-image:url('images/item2.png'); }
hgroup.item3 { background-image:url('images/item3.png'); }
hgroup.item1 h2, hgroup.item2 h2, hgroup.item3 h2 { font-size:36px;font-family:"Helvetica Neue",helvetica,arial,sans-serif;padding-bottom:6px; }
hgroup.item1 h3, hgroup.item2 h3, hgroup.item3 h3 { font-size:18px;font-weight:normal;font-family:"Helvetica Neue",helvetica,arial,sans-serif;color:#3B95C5 }
hgroup.item6 h2 { font-size:20px;color:#fff;font-weight:normal;padding-top:6px; }
div.item1 { float:left;margin-bottom:60px;width:341px; }
div.item2 { float:right;border-bottom:1px dashed #bababa;margin:0 30px 30px 30px;width:432px; }
div.item3 { border-bottom:1px dashed #bababa;margin:0 30px 30px 30px; }
div.item4 { margin:0 30px; }
div.item5 { border-bottom:1px dashed #bababa;margin:0 30px 30px 30px;float:right; }
div.item6 { margin:20px 50px 30px 30px;float:right; }
div.item4 img { float:left;margin-right:30px; }
div.item4 p { padding:0 0 30px 0; }
div.item1 p, div.item2 p, div.item3 p, div.item5 p { text-align:center;color:#97A4B0;font-size:12px;font-family:"Helvetica Neue",helvetica,arial,sans-serif;line-height:1.5em;padding-bottom:10px; }
div.item1 p { border-bottom:1px dashed #bababa;margin-bottom:10px; padding: 0 10px; }
div.page { padding:0 0 30px 0; }
div.page h3 { padding:20px 30px 15px 30px;font-size:24px;font-family:Georgia,serif;font-weight:normal;color:#3B95C5; }
div.page p { padding:0 30px 15px 30px; }
div.page .top { padding-top: 20px;}
div.page .screencast { float:right;padding:30px; }
div.page .screencast p { font-family:arial,sans-serif;border-bottom:1px dashed #bababa;padding:0 10px 10px 0;font-size:12px;color:#97A4B0; }
p.item1 { margin-left:374px;padding-right:30px; }
p.item2, p.item3 { padding:0 30px 30px 30px; }
p.item5 { padding:0 30px 30px 30px; }

.box .col1, .box .col2, .box .col3, .box .col4 { width:290px;padding:20px 30px 0 30px; }
.box .col1, .box .col3 { float:left; }
.box .col1 { border-right:1px dashed #bababa; }
.box .col2 { margin-left:350px; }
.box .col4 { margin-left:351px; }
.box .col1 h4, .box .col2 h4, .box .col3 h4, .box .col4 h4 { color:#3B95C5;font-size:18px;font-family:arial,sans-serif; }
.box .col1 h4 a, .box .col2 h4 a, .box .col3 h4 a, .box .col4 h4 a { color:#518722;text-decoration:none; }
.box .col1 h4 a:hover, .box .col2 h4 a:hover, .box .col3 h4 a:hover, .box .col4 h4 a:hover { color:#5e8d34; }
.box .col1 p, .box .col2 p, .box .col3 p, .box .col4 p { margin-bottom:20px; }

.questions { position:relative;height:280px;background-image:url('images/quote-bubbles.png');background-repeat:no-repeat;background-position:bottom left; }
.questions h4 { position:absolute;bottom:200px;left:216px;font-family:"Helvetica Neue",helvetica,arial,sans-serif;color:#97a4b0;font-size:3.1em; }
.questions p { font-family:Georgia,serif;font-size:1.9em;text-align:center; }
.questions strong { color:#fff; }
.questions .bubble1 { color:#bababa;position:absolute;bottom:24px;left:20px;width:300px; }
.questions .bubble2 { color:#9dc9e1;position:absolute;bottom:24px;left:386px;width:300px; }
.answers .agency, .answers .pro { width:310px; }
.answers .agency { float:left;margin-left:10px; }
.answers .pro { margin-left:370px; }
.answers h5 { font-family:arial,sans-serif;font-size:1.1em;color:#3a94c5;padding-top:1.5em; }
.answers p { font-family:arial,sans-serif;font-size:.8em;color:#50555a;line-height:1.5em; }

/* Triple Columns */
.tricol div { color:#50555A;text-align:center;margin:0 0 30px 0;padding:0 27px;list-style:none;text-align:center;width:178px;border-right:1px dashed #bababa;float:left; }
.tricol.about div { border:none;text-align:left;width:173px; }
.tricol div p { font-size:14px;line-height:1.5em; }
.tricol.about div p { font-family:Georgia,serif;margin-bottom:15px; }
.tricol div a { color:#518722;text-decoration:none; }
.toollist, .contbox { margin:40px 0;background:#fff;width:660px;padding:20px;border: 1px solid #bababa;border-bottom:none;border-top:none;-webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.2);-moz-box-shadow: 0 5px 5px rgba(0,0,0,0.2);box-shadow: 0 5px 5px rgba(0,0,0,0.2);-webkit-border-radius: .5em;-moz-border-radius: .5em;border-radius: .5em; }
.contbox { border-bottom:1px solid #bababa;border-top:1px solid #bababa;background-image:url("images/backgrounds/contact.png");background-repeat:repeat-y; }
#newbox { background-color:#fff;border-bottom:1px solid #bababa;border-top:1px solid #bababa;background-image:url("images/backgrounds/signupform.png");background-repeat:repeat-y;background-position:right top;padding:20px;border: 1px solid #bababa;-webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.2);-moz-box-shadow: 0 5px 5px rgba(0,0,0,0.2);box-shadow: 0 5px 5px rgba(0,0,0,0.2);-webkit-border-radius: .5em;-moz-border-radius: .5em;border-radius: .5em;margin:0 auto;width:720px; }
#newbox ul { float:right;width:250px;list-style-image:url("images/objects/bullet-check-gray.png");margin-bottom:20px; }
#newbox li { font-size:22px;font-family:Georgia,serif;color:#97A4B0;border-bottom:1px dashed #bababa;padding:10px 0; }
#newbox li.last { border-bottom:none; }
#newbox form { padding:30px;width:340px; }
#newbox input[type="text"], #newbox input[type="password"] { width:324px;margin-bottom:20px; }
#newbox .checkbox { margin:0 0 20px 0; }
#newbox span { margin-left:24px;display:block;font-size:0.7em; }
#newbox .tos { text-align:center;font-size:0.7em;color:#999;margin-top:10px; }
#newbox .tos a { color:#518722;text-decoration:none; }
#newbox .checkbox input { float:left; }
#newbox .submit { display:none; }
.smallprint { text-align:center;font-size:12px;color:#97A4B0;margin:30px auto;width:700px; }
.contbox h3 { font-size:36px;color:#518722; }
.contbox h3 img { vertical-align:middle; }
.contbox p.issue { font-family:Georgia,serif;font-size:14px;float:right;width:350px;line-height:1.5em; }
.contbox p.email { margin-bottom:10px; }
.contbox p.email { font-size:18px;color:#518722; }
.contbox h3 a, .contbox p.email a { color:#518722;text-decoration:none; }
.contbox h3 a:hover, .contbox p.email a:hover { color:#5e8d34; }
.contbox p.hours { font-size:14px;margin-bottom:15px;width:280px; }
.contbox p.language { font-weight:bold;font-size:16px;color:#3B95C5; }
.toollist h2 { font-family:arial,sans-serif;color:#50555a;font-size:1.5em;text-align:center;margin-bottom:20px; }
h2.head2 { font-weight:normal;font-family:Georgia,serif;color:#3B95C5;font-size:32px;text-align:center;padding:40px 0; }
h2.head3 { font-family:"Helvetica Neue",helvetica,arial,sans-serif;color:#50555A;font-size:24px;padding:30px; }
.tricol div h3, .tricol div p { font-family:arial,sans-serif; }
.tricol div h3 { font-size:16px;margin:10px 0; }
.tricol.about h3 { font-size:18px;color:#3B95C5;margin-bottom:0; }
.tricol.about h4 { font-family:arial,sans-serif;font-size:12px;color:#50555A;margin:0 0 15px 0; }
.toollist nav { height: 100%; }
.toollist ul { margin:0;padding:0;list-style:none;text-align:center;width:212px;border-right:1px dashed #bababa;float:left;height: 100%; }
.toollist ul.last, .tricol div.last { border:none; }
.toollist li { line-height:2em; }
.toollist a { font-size:.8em;font-family:arial,sans-serif;font-weight:bold;color:#518722;text-decoration:none;border:1px solid transparent;padding: 0.25em 0.375em;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px; }
.toollist a:hover { background:#f1f1f1;border:1px solid #bababa;padding: 0.25em 0.375em;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px; }
.leaf { text-align:center;margin-bottom:30px; }
p.imgfull { text-align:center;padding:0 0 40px 0; }
.tip {  }
.tip h3 { float:left;width:319px;height:107px;text-align:center;color:#fff;font-size:34px;padding-top:30px;background-image:url("images/quote-bubbles-tip.png");background-repeat:no-repeat;background-position:10px 0px; }
.tip p { margin-left:330px;font-family:Georgia,serif;font-size:14px;width:350px;line-height:1.5em; }

.featured { padding:40px 30px 20px 30px; }
.featured h2 { font-family:Georgia,serif;font-size:14px;color:#50555A;text-transform:uppercase;font-weight:normal; }
.featured h2 img { float:right;margin-top:10px; }
.featured h3 { padding:10px 0 20px 0;margin-bottom:20px;border-bottom:1px dashed #bababa;color:#3B95C5;font-size:36px;font-family:"Helvetica Neue",helvetica,arial,sans-serif;font-weight:normal; }
.featured h3 a { color:#3B95C5;text-decoration:none; }
.featured .headshot { line-height:1.5em;float:left;width:100px;font-size:12px;color:#97A4B0;font-family:"Helvetica Neue",helvetica,arial,sans-serif; }
.featured h4 { float:right;width:510px;font-family:arial,sans-serif;font-size:18px;color:#3B95C5; }
.featured p { float:right;width:510px;font-family:Georgia,serif;font-size:16px;color:#50555A;padding-bottom:20px; }




/* Tables */
table.list { width:100%;font-family:arial,sans-serif; }
table.list td { font-size:12px; }
table.list .feature, table.list .regular, table.list .pro { width:25%; }
th.pro, td.pro, th.regular, td.regular { background-image:url('images/tables/gradient.png') !important;background-repeat:repeat-y; }
table.list tr { border-bottom:1px dashed #bababa; }
table.list tr.last { border:none; }
table.list thead th { padding:20px 0;font-family:Georgia,serif;font-size:26px;line-height: 32px;color:#518722;font-weight:normal; }
table.list th, table.list td {padding:10px; }
table.list tbody th.feature { font-size:16px;color:#3B95C5 }
table.list tbody th.pro, table.list tbody th.regular { font-size:10px;color:#518722;text-transform:uppercase; }
table.list .feature { font-weight:bold; }
table.list .regular { background-color:#fff; }
/*table.list .pro { background-color:#FFFDE8; }
table.list tbody th.pro { background-color:#f1efdb; }*/

/* Footer */
.footer { clear:both;margin:20px 0 0 0;border-top:1px dashed #ccc;}
.footer img.logo { float:left;margin:10px 0; }
.footer ul { padding:0;list-style:none; }
.footer ul.top { margin:20px 0 10px 40px; }
.footer ul.bot { margin:0 0 10px 40px; }
.footer li { display:inline; }
.footer p { margin:10px 0 10px 10px;font-size:.8em;color:#50555A; }

.footer2 { clear:both;margin:40px 0 0 0;}
.footer2 img.logo {margin:50px 0; }



/* buttonmenu */
.buttonmenu { clear:both;margin:20px 0 0 0;border-top:0px dashed #ccc;}
.buttonmenu img.logo { float:left;margin:10px 0; }
.buttonmenu ul { padding:0;list-style:none; }
.buttonmenu ul.top { margin:20px 0 10px 40px; }
.buttonmenu ul.bot { margin:0 0 10px 40px; }
.buttonmenu li { display:inline; }
.buttonmenu p { margin:10px 0 10px 10px;font-size:.8em;color:#50555A; }

}